doctype html
html
  head
    title CSRF, NoSQL Injection and XSS target application
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/scripts/index.js')
    script(src='/scripts/auth.js')
    script(src='/scripts/users.js')
  body
    nav
      form(action='/users/search', method='GET').input-group
        input(autofocus, type='text', name='query', placeholder='search users...', value=query)
        button(type='submit', id='search-button') Search
      a(href='/') Home
      - if (session.user)
        a(href='/users/list') Users
        a(href='javascript: signOut();', id="logout") Sign out
      - else
        a(href='/login') Sign in
    block content
