extends layout

block content
  h1 List of users
  - if (users.length > 0)
    p Currently registered users:
    ul
      each user in users
        li.
          [
          #[a(href='javascript: deleteUser("' + user.id + '"); void(0);', id="delete-" + user.id).danger Delete]
          ]
          #{user.name}
  - else
    p No users found.
