body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

nav {
  text-align: right;
}

nav a {
  padding-left: 1em;
}

.info {
  color: cornflowerblue;
  font-style: italic;
}
.success {
  color: green;
  font-weight: bold;
}
.danger {
  color: crimson;
  font-weight: bold;
}
